body {
    background-color: #76abb9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: white;
    position:absolute bottom;
    width: 100%;
    bottom: 0;
    padding: 10px 10px 0px 10px;
    margin: 0 0 0 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbotron {
    color: whitesmoke;
    text-align: center;
    text-shadow:5px black;
    background-image: url("images/JochemVerantwoordelijke-min-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .rond{
      border-radius: 50%;
      width: 60%;
  }
  
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  .dwnld{
      text-decoration: none;
      color: white;
  }
  .CV{
      color: whitesmoke;
  }
  
  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.interesses{
  background-color: white;
}
.center{
text-align: center;
}



@media (min-width: 320px){
  iframe{
    width: 100%;
  }
}